@font-face {
  font-family: 'slabo';
  src: local('slabo'),
  url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap') format('truetype');
}

body {
  font-family: 'slabo';
  font-size: large;
}
