@media (max-width: 768px) {
  .quizImgWrap {
    padding: 30px;
  }
  .quizbox {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .quizImgWrap {
    padding: 10px;
  }
  .quizText {
    padding-left: 0;
  }
}
.quizImgWrap {
  padding: 20px;
}

.quizImgWrap img {
  border-radius: 50%;
}
.quizText {
  padding: 15px;
  text-align: center;
  color: #ffffff;
}

.quizImgWrap,
.quizText {
  flex: 0 0 50%;
}

.panel {
  background-color: #414b65;
  border: 1;
  border-color: #2f2e2e;
  border-style: dashed;
  box-shadow: 0 0 25px rgba(5, 5, 38, 0.3);
}

.headerpadding {
  display: flex;
  padding: 10px 20px 10px 20px;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  flex: 1 0;

  color: #ffffff !important;
  text-align: center;
}

.quizbox {
  /* Center via Flexbox (this might mess up the layouting in the future) */
  display: flex;

  padding: 0px 0px 0px 0px;

  border: 0;
  background-color: #414b65;

  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .quizbox {
    flex-direction: column;
  }
}

.vert {
  position: relative;
  top: 50%;

  transform: translateY(-50%);
  text-align: center;
}

.pad5 {
  padding: 5px;
}

.tan {
  margin: 0px;
  padding: 20px 25px 20px 20px;

  font-size: 18px;

  color: #ffffff;
  border-width: 0px;
  background-color: #333b50;
}

.tanquiz {
  margin: 0px;
  padding: 15px;

  font-size: 16px;

  color: #ffffff;
  border-width: 0px;
  background-color: #333b50;
}
