$footerHeight: 100px;

.footer {
	background-color: #0b6075;
	width: 100%;
	height: $footerHeight;
	position: absolute;
	bottom: 0;

	.vert {
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.pad5 {
		padding: 5px;
	}
}
