.forum-wrapper {
  display: flex;
  min-height: 350px;
}
.forum-wrapper .trending-questions {
  flex: 1;
}
.forum-wrapper .content {
  flex: 1;
}
.forum-wrapper .create-button {
  background-color: #ff8969;
  color: white;
  outline: none;
  font-size: 18px;
}
.post-container > 

.search-container {
  margin: 20px 0;
}
.post-container {
  flex: 3;
  padding: 20px;
}
.flex-container {
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.plain-search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
}
.search-bar-focus:focus {
  border: 1px solid #008abf;
  transition: 0.35s ease;
  color: #008abf;
}

.search-bar {
  composes: plain-search-bar search-bar-focus;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -20px;
}
.blurb {
  font-family: serif;
  font-size: 16px;
  color: #000000;
  /*    text-align: justify;
    text-justify: inter-word;*/
}

.searchResults {
  margin: 20px 0px;
}
