*/5 * * * * root echo "test" >> /var/log/cron.log 2>&1
*/5 * * * * root printenv >> /var/log/cron.log 2>&1
*/5 * * * * root /scripts/test.js >> /var/log/cron.log 2>&1
*/5 * * * * root /scripts/test.py >> /var/log/cron.log 2>&1


# this file auto-appended to cron/crontab during build
# contents of this file auto-appended to cron/crontab during build
* 0 0 0 0 root /scripts/testQuiz/exampleCron.py
# contents of this file auto-appended to cron/crontab during build
* 0 0 0 0 root /scripts/testQuiz/exampleCron.py
# contents of this file auto-appended to cron/crontab during build
* 0 0 0 0 root /scripts/testQuiz/exampleCron.py
# contents of this file auto-appended to cron/crontab during build
* 0 0 0 0 root /scripts/testQuiz/exampleCron.py
# contents of this file auto-appended to cron/crontab during build
* 0 0 0 0 root /scripts/testQuiz/exampleCron.py
# contents of this file auto-appended to cron/crontab during build
* 0 0 0 0 root /scripts/testQuiz/exampleCron.py
