@import url('https://cdn.jsdelivr.net/gh/jspsych/jsPsych@6.0.4/css/jspsych.css');

.fixationcross {
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}