@media (max-width: 768px) {
  .quizImgWrap {
    padding: 30px;
  }
  .quizbox {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .quizImgWrap {
    padding: 10px;
  }
  .quizText {
    padding-left: 0;
  }
}
.quizImgWrap {
  padding: 20px;
}

.quizImgWrap img {
  border-radius: 50%;
}
.quizText {
  padding: 15px;
  text-align: center;
  color: #ffffff;
}

.quizImgWrap,
.quizText {
  flex: 0 0 50%;
}

.panel {
  background-color: #8991a7;
  box-shadow: 0 0 25px rgba(5, 5, 38, 0.3);
  position: relative;
}

.headerpadding {
  display: flex;
  padding: 10px 20px 10px 20px;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  flex: 1 0;

  color: #ffffff !important;
}

.quizbox {
  /* Center via Flexbox (this might mess up the layouting in the future) */
  display: flex;

  padding: 0px 0px 0px 0px;

  border: 0;
  background-color: #333b50;

  align-items: center;
  justify-content: center;
}

.vert {
  position: relative;
  top: 50%;

  transform: translateY(-50%);
  text-align: center;
}

.pad5 {
  padding: 5px;
}

.tan {
  margin: 0px;
  padding: 20px 25px 20px 20px;

  font-size: 18px;

  color: #ffffff;
  border-width: 0px;
  background-color: #333b50;
}

.tanquiz {
  margin: 0px;
  padding: 15px;

  font-size: 16px;

  color: #ffffff;
  border-width: 0px;
  background-color: #333b50;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: 0;
  content: '';
  display: block;
  border: 5px solid #1c367d;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #2446a3;
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* top left*/
.ribbonTopLeft {
  top: -10px;
  left: -10px;
}
.ribbonTopLeft::before,
.ribbonTopLeft::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbonTopLeft::before {
  top: 0;
  right: 0;
}
.ribbonTopLeft::after {
  bottom: 0;
  left: 0;
}
.ribbonTopLeft span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbonTopRight {
  top: -10px;
  right: -10px;
}
.ribbonTopRight::before,
.ribbonTopRight::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbonTopRight::before {
  top: 0;
  left: 0;
}
.ribbonTopRight::after {
  bottom: 0;
  right: 0;
}
.ribbonTopRight span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbonBottomLeft {
  bottom: -10px;
  left: -10px;
}
.ribbonBottomLeft::before,
.ribbonBottomLeft::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbonBottomLeft::before {
  bottom: 0;
  right: 0;
}
.ribbonBottomLeft::after {
  top: 0;
  left: 0;
}
.ribbonBottomLeft span {
  right: -25px;
  bottom: 30px;
  transform: rotate(45deg);
}

/* bottom right*/
.ribbonBottomRight {
  bottom: -10px;
  right: -10px;
}
.ribbonBottomRight::before,
.ribbonBottomRight::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbonBottomRight::before {
  bottom: 0;
  left: 0;
}
.ribbonBottomRight::after {
  top: 0;
  right: 0;
}
.ribbonBottomRight span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-45deg);
}
