.title {
  font-family: "Antic Slab", serif;
  font-size: 30px;
  text-align: right;
}
@media all and (max-width: 768px) {
  .blurb {
    margin-right: 20px !important;
    font-size: 18px !important;
  }
}

.blurb {
  font-family: "Noticia Text", serif;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  /*    text-align: justify;
    text-justify: inter-word;*/
}

.sub {
  font-size: 16px;
}

.mb25 {
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}
