.token {
  /* Rectangle: */
  background: #F0B160;
  border-radius: 9px;
  /* English: */
  font-family: OpenSans;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 3px 10px;
  display: inline-block;
  margin: 3px 5px;
}
.tokenClose {
  color: red;
}

.listItem {
  color: tomato;
}
.results {
  color: dodgerblue;
}
.listAnchor {
  color: darkred;
}
input {
  color: black;
}
.closeButton {
  content: "X";
  color: #EC5125;
  cursor: pointer;
  position: relative;
  left: 6px;
  font-weight: bold;

}