/*
  Position footer always at bottom of the Page
  via Flexbox
  see: https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
*/
.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
  /*  min-height: 100vh;*/
}
.layout footer {
  flex-shrink: 0;
}
